.app {
  width: 500px;
  height: 400px;
  background-color: $light-blue;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;

  img {
    display: block;
    max-height: 300px;
    margin: 20px auto;
  }
}
